body {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* HEADER */
.nav-item:active {
    background: red;
}
.navbar {
    padding-left: 30px;
}
#a-header {
    color: white;
}
#a-header:hover {
    background: black;
}
a, ul {
    padding: 30px;
    font-size: 40px;
    text-decoration: none;
}
header nav ul li a {
    color: white;
}


/* MAIN */

main {
    height: 100vh;
}
main nav {
    margin-top: 150px;
}
main nav a:hover {
    animation: 2s anim infinite;
}

@keyframes anim {
    from {filter: brightness(0%);}
    50% {filter: brightness(50%);}
    to {filter: brightness(0%);}
}
a:active, a:hover {
    text-shadow: 2px 2px yellow;
}
.centered, form div, ol img, #rooms-list li {
    position: relative; left: 50%; transform: translateX(-50%)
}

.width-80 {
    width: 80%;
    max-width: 2500px;
}
.width-100 {
    width: 100%;
}
main, nav {
    padding: 50px;
}
#carousel-btn {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-top: 20vh;
}
.card {
    border: 10px solid black;
}
h2, h6 {
    font-weight: bold;
    font-size: 60px;
}
h3 {
    font-size: 50px;
    font-weight: bold;
    color: red;
    background: #6c757d;
    padding: 20px;
    margin: 50px;
    color: white;
}

/* FOOTER */
footer div {
    padding: 10px;
    background: white;
}
footer div p {
    font-size: 40px;
    background: #212529;
    color: white;
    padding: 50px;
}
#img-park, #img-ski{
    background: #212529;
    display: flex;
    justify-content: space-evenly;
}
#img-park img {
    width: 21%;
}
#img-ski img {
    width: 30%;
}
ol {
    color: white;
    font-size: 50px;
    padding-left: 50px;
    margin: 150px;
    width: 90%;
    list-style: upper-roman;

}
h6 {
    color: #0d6efd;
    margin-left: 200px;
    width: 90%;
    padding: 10px;
}
ol li {
    padding-left: 50px;
    margin-top: 10px;
}


/* HOTEl */
h4 {
    font-size: 50px;
    margin-bottom: 100px;
}
#rooms-list, #jumeirah {
    margin: 50px;
}
#rooms-list li, #jumeirah li {
    margin-top: 50px;
    margin-bottom: 50px;
}
ol img {
    width: 80%;
}
/* ABOUT */

#about {
    height: 60vh;
    background: #212529;
}
#about p, iframe {
    padding: 50px;
}


/* CONTACT FORM */
form {
    width: 100%;
    background:#212529;
    display: flex;
}
form div {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 50px;
    color: white;
    width: 60%;
    background: none;
    align-self: center;
    background: #6c757d;
    border: 5px solid #0d6efd;
}
label {
    padding: 20px;
    margin-top: 20px;

}
form input, textarea {
    width: 100%;
    margin-top: 20px;
}

input[type="submit"] {
    background: #212529;
    color: white;
    margin-top: 50px;
    border: none;
}

@media screen and (max-width: 2500px) {
    ol img {
        width: 100%;
    }
}